<a href="https://colab.research.google.com/github/kamaleshalagarmanavalan/lung-cancer-prediction/blob/main/Lung_cancer_prediction_using_Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import libraries

In [ ]:
import numpy as np
import pandas as pd

## Read CSV file

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Lung Cancer Detection/Lung Cancer Dataset/lung_cancer_examples.csv')
data

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [ ]:
data.columns

Index(['Name', 'Surname', 'Age', 'Smokes', 'AreaQ', 'Alkhol', 'Result'], dtype='object')

In [ ]:
data.shape

(59, 7)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     59 non-null     object
 1   Surname  59 non-null     object
 2   Age      59 non-null     int64
 3   Smokes   59 non-null     int64
 4   AreaQ    59 non-null     int64
 5   Alkhol   59 non-null     int64
 6   Result   59 non-null     int64
dtypes: int64(5), object(2)
memory usage: 3.4+ KB

# Data Preprocessing

In [ ]:
data.isnull()

     Name  Surname    Age  Smokes  AreaQ  Alkhol  Result
0   False    False  False   False  False   False   False
1   False    False  False   False  False   False   False
2   False    False  False   False  False   False   False
3   False    False  False   False  False   False   False
4   False    False  False   False  False   False   False
5   False    False  False   False  False   False   False
6   False    False  False   False  False   False   False
7   False    False  False   False  False   False   False
8   False    False  False   False  False   False   False
9   False    False  False   False  False   False   False
10  False    False  False   False  False   False   False
11  False    False  False   False  False   False   False
12  False    False  False   False  False   False   False
13  False    False  False   False  False   False   False
14  False    False  False   False  False   False   False
15  False    False  False   False  False   False   False
16  False    False  False   False  False   False   False
17  False    False  False   False  False   False   False
18  False    False  False   False  False   False   False
19  False    False  False   False  False   False   False
20  False    False  False   False  False   False   False
21  False    False  False   False  False   False   False
22  False    False  False   False  False   False   False
23  False    False  False   False  False   False   False
24  False    False  False   False  False   False   False
25  False    False  False   False  False   False   False
26  False    False  False   False  False   False   False
27  False    False  False   False  False   False   False
28  False    False  False   False  False   False   False
29  False    False  False   False  False   False   False
30  False    False  False   False  False   False   False
31  False    False  False   False  False   False   False
32  False    False  False   False  False   False   False
33  False    False  False   False  False   False   False
34  False    False  False   False  False   False   False
35  False    False  False   False  False   False   False
36  False    False  False   False  False   False   False
37  False    False  False   False  False   False   False
38  False    False  False   False  False   False   False
39  False    False  False   False  False   False   False
40  False    False  False   False  False   False   False
41  False    False  False   False  False   False   False
42  False    False  False   False  False   False   False
43  False    False  False   False  False   False   False
44  False    False  False   False  False   False   False
45  False    False  False   False  False   False   False
46  False    False  False   False  False   False   False
47  False    False  False   False  False   False   False
48  False    False  False   False  False   False   False
49  False    False  False   False  False   False   False
50  False    False  False   False  False   False   False
51  False    False  False   False  False   False   False
52  False    False  False   False  False   False   False
53  False    False  False   False  False   False   False
54  False    False  False   False  False   False   False
55  False    False  False   False  False   False   False
56  False    False  False   False  False   False   False
57  False    False  False   False  False   False   False
58  False    False  False   False  False   False   False

In [ ]:
data.isnull().sum() #checks unfilled columns and null values

Name       0
Surname    0
Age        0
Smokes     0
AreaQ      0
Alkhol     0
Result     0
dtype: int64

In [ ]:
data=data.dropna() #deletes null values

In [ ]:
data.drop(['Name', 'Surname'], axis = 1)

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

## Feature Extraction

In [ ]:
y=data['Result']
x=data.drop(['Name','Surname' ,'Result'], axis=1) #axis 1 indicates colunmn, 0 - rows, drop processes other than that column

## Model creation

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest, ytrain, ytest=train_test_split(x,y,test_size=0.2, random_state=42) #0.2 = 75, 25// 0.3 = 70, 30

In [ ]:
xtrain.shape

(47, 4)

In [ ]:
xtest.shape

(12, 4)

In [ ]:
ytrain.shape

(47,)

In [ ]:
ytest.shape

(12,)

In [ ]:
from sklearn.metrics import accuracy_score  #accuracy_score: to evaluate the model's accuracy.
from sklearn.ensemble import RandomForestClassifier #RandomForestClassifier: a machine learning model that builds multiple decision trees and combines them to improve accuracy.
clf=RandomForestClassifier() #Random Forest classifier object named clf is created. This model will learn patterns in your training data.
clf.fit(xtrain,ytrain) #training the model using xtrain and ytrain
ypred=clf.predict(xtest) #to ask the trained model to predict outcomes for test data (xtest). The predictions are stored in ypred.
score=accuracy_score(ytest, ypred) #compare the predicted labels (ypred) with the actual labels (ytest) to compute the accuracy
print(score)

0.9166666666666666

##Prediction

In [ ]:
k= clf.predict([[68,20,4,6]]) #values of the patient is given for the classification.
print(k)

[1]

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [ ]:
if (k==1):
  print("Lung cancer")
else:
  print("Not affected")

Lung cancer